<!doctype html>
<html> 
<head> 
  <title>Paean via Backbone, Bootstrap & localStorage</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
</head> 
<body>

  <div class="container">
    <h1>Lists</h1>
    <hr />
    <div class="page"></div>
  </div>

  <script type="text/template" id="">
    
  </script>

  <script type="text/template" id="thank-list-template">
  <a href="#/add" class="btn btn-primary">Thank Someone</a>
  <hr />
  <table class="table striped">
    <thead>
      <th>Name</th>
      <th>Gift</th>
    </thead>
    <tbody>
      <% _.each(thanks, function(thank) { %>
        <tr>
          <td><%= thank.get('name') %></td>
          <td><%= thank.get('gift') %></td>
          <td></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  </script>

  <script type="text/template" id="edit-thank-template">
    <form class="edit-thank-form">
      <legend>Thank Who?</legend>
      <label>Name</label>
      <input type="text" name="name" id="name" />
      <label>Gift</label>
      <input type="text" name="gift" id="gift" />
      <hr />
      <button type="submit" class="btn" id="edit-thank-submit-button">Add</button>
    </form>
  </script>

  <script src="js/libs/jquery.min.js" type="text/javascript"></script>
  <script src="js/libs/underscore-min.js" type="text/javascript"></script>
  <script src="js/libs/backbone-min.js"></script>
  <script src="js/libs/backbone.localStorage.js"></script>

  <script>
    // **************************************************** COLLECTION
    var ThanksCollection = Backbone.Collection.extend({
      model: Thank,
      localStorage: new Store("thanks-backbone")
    });

    // **************************************************** MODEL 
    var Thank = Backbone.Model.extend({
//      urlRoot: '/ubuntre-vm/paean/thanks',
      defaults: {
        name: 'Joe'
      },
      thankSave: function () {
//        this.save({
          
//        });
      }
    });

    // **************************************************** VIEW
    var ThankList = Backbone.View.extend({
      el: '.page',
      render: function () {
        // don't get this next line
        var that = this;

        var thanks = new ThanksCollection();

//        thanks.fetch({
//          success: function (thanks) {
//            var template = _.template($('#thank-list-template').html(), {thanks: thanks.models});
//            that.$el.html(template);
//          }
//        });
      }
    });
    // **************************************************** VIEW
    var EditThank = Backbone.View.extend({
      el: '.page',
      render: function () {
        var template = _.template($('#edit-thank-template').html(), {});
        this.$el.html(template);
      },
      events: {
        'submit .edit-thank-form': 'saveThank'
//        'click #edit-thank-submit-button': 'saveThank'
      },
      saveThank: function () {
//        var value = this.input.val();
console.log(this.$('input#name').val());
        var thank = new Thank();
        thank.name = this.$('input#name').val();
        return false;
        thank.save({name: thank.name});
      }
    });

    // **************************************************** ROUTER
    var Router = Backbone.Router.extend({
      routes: {
        '': 'home',
        'add': "editThank"
      }
    });

    var thankList = new ThankList();
    var editThank = new EditThank();

    var router = new Router();
    router.on('route:home', function () {
      thankList.render();
    });
    router.on('route:editThank', function () {
      editThank.render();
    });
    Backbone.history.start();
  </script>
</body>
</html>
